<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset - Teletherapy</title>
</head>
<body>
    <h2>Reset your Teletherapy password:</h2>
    <form method="POST">
        <label>
            Email:
            <input type="text" name="email" />
        </label>
        <br/>
        <label>
            New Password:
            <input type="password" name="password" />
        </label>
        <br/>
        <label>
            Confirm New Password:
            <input type="password" name="confirm_password" />
        </label>
        <br/>
            <input type="hidden" name="token" value="{{ token }}" />
        <br/>
        <button type="submit" value="submit">Submit</button>
    </form>
</body>
</html>